

body {
  background: #060e0f;

 }

.container{
	padding-top: 115px;
	width: 1082px;
	height:678px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-image: url(../images/mpc1000.png);
}

.cell{
    height: 76px;
    width: 82px;
    border: 1px solid black;
    float: left;
    display: block;
    margin: 3px;
    background-color: rgb(160,27,34);
    border-radius: 10px;
    transition: background-color ease .3s;
}
.cell:hover{
    background-color: rgb(217,237,85);
}

#buttons {
    height: 341px;
    width: 480px;
    display: block;
    background-color: black;
    position: relative;
    left: 212.5px;
    top: 173px;
}

h1 {
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 3.5em; /* 40px/16=2.5em */
	color: rgb(160,27,34);
	background: -webkit-linear-gradient(rgb(160,27,34), rgb(217,237,85));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#startGame {
    position: relative;
    height: 40px;
    width: 48px;
    border: 1px solid black;
    float: left;
    display: block;
    margin: 3px;
    background-color: #22D65B;
    opacity: 0;
    border-radius: 10px;
    transition: background-color ease .3s;
    top: -216px;
    left: 926px;
}


